In [1]:
import os 
import pandas as pd
from  actual_secret_key import openai_api_key
# from secret_key import openai_api_key 
from langchain.embeddings import OpenAIEmbeddings

In [2]:
os.environ['OPENAI_API_KEY'] = openai_api_key

In [3]:
embeddings_generator = OpenAIEmbeddings()

In [4]:
embeddings_generator.model

'text-embedding-ada-002'

OpenAI Model [text-embedding-ada-002](https://platform.openai.com/docs/models/embeddings) selected for good Clustering score on [Massive Text Embedding Benchmark (MTEB)](https://huggingface.co/spaces/mteb/leaderboard).

In [6]:
articles_df = pd.read_csv('data/article_titles.csv')
articles_df.head()

,Unnamed: 0,Article Number,Article Title,Part,Part Title
0,0,1,Name and territory of the Union.,PART I,THE UNION AND ITS TERRITORY ARTICLES
1,1,2,Admission or establishment of new States. [,PART I,THE UNION AND ITS TERRITORY ARTICLES
2,2,2A,Sikkim to be associated with the Union. —Omitt...,PART I,THE UNION AND ITS TERRITORY ARTICLES
3,3,3,Formation of new States and alteration of area...,PART I,THE UNION AND ITS TERRITORY ARTICLES
4,4,4,Laws made under articles 2 and 3 to provide fo...,PART I,THE UNION AND ITS TERRITORY ARTICLES